[submodule "skills/humanizer"]
	path = skills/humanizer
	url = https://github.com/blader/humanizer.git
	branch = main
[submodule "skills/frontend-slides"]
	path = skills/frontend-slides
	url = https://github.com/zarazhangrui/frontend-slides.git
	branch = main
